@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
  --background-color: #fffffe;
  --section-background: #d8eefe;
  --h1-color: #094067;
  --h2-color: #094067bf;
  --highlight-color: #3da9fc;
  --paragraph-color: #5f6c7b;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Macondo', cursive;
}

body {
  background: var(--background-color);
}

.container {
  width: 90%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: var(--h1-color);
}

#project,
#author {
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.introduce .container .image {
  width: 700px;
  float: right;
  margin-left: 1rem;
  z-index: 10;
}

.introduce .container .image img {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
  box-shadow: 5px 5px 5px var(--highlight-color);
}

.introduce .container .description .title {
  margin-bottom: 1rem;
  color: var(--h2-color);
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.introduce .container .description .content {
  color: var(--paragraph-color);
  text-indent: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.8;
  hyphens: auto;
}

.category {
  background: var(--section-background);
  margin-top: 5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.category .container .title {
  margin-bottom: 1rem;
  color: var(--h1-color);
  text-align: center;
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
}

.category .container p {
  margin-bottom: 4rem;
  color: var(--paragraph-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.category .container .card-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.category .container .card-grid .card {
  padding: 3rem;
  border-radius: 3px;
  background-color: var(--background-color);
}

.category .container .card-grid .card .title {
  margin-bottom: 2rem;
  color: var(--h1-color);
  font-size: 3rem;
  line-height: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.category .container .card-grid .card .list {
  text-align: center;
}

.category .container .card-grid .card .list .item {
  color: var(--paragraph-color);
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #author {
    padding-left: 4rem;
  }

  .introduce .container {
    display: flex;
    flex-direction: column;
  }

  .introduce .container .image {
    width: auto;
    flex: 1 1 auto;
    margin-left: 0;
  }

  .introduce .container .image img {
    border-radius: 8px;
  }

  .introduce .container .description .title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: 700;
  }

  .introduce .container .description .content {
    font-size: 1.3rem;
    line-height: 1.5;
    hyphens: none;
  }

  .category {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .category .container .title {
    font-size: 2.5rem;
  }

  .category .container .card-grid {
    grid-template-columns: 1fr;
  }

  .category .container .card-grid .card {
    padding: 1.5rem;
  }

  .category .container .card-grid .card .title {
    font-size: 2.3rem;
  }
}
