@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
  --background-color: #fffffe;
  --section-background: #d8eefe;
  --h1-color: #094067;
  --h2-color: #094067bf;
  --highlight-color: #3da9fc;
  --paragraph-color: #5f6c7b;
  --tertiary-color: #ef4565;
  --message-color: #90b4ce;
  --black-color: #000000aa;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Macondo', cursive;
}

body {
  background: var(--background-color);
}

.container {
  width: 90%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: var(--h1-color);
}

#project,
#author {
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.introduce .container .image {
  width: 700px;
  float: right;
  margin-left: 1rem;
  z-index: 10;
}

.introduce .container .image img {
  width: 100%;
  object-fit: contain;
  border-radius: 16px;
  box-shadow: 5px 5px 5px var(--highlight-color);
}

.introduce .container .description .title {
  margin-bottom: 1rem;
  color: var(--h2-color);
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.introduce .container .description .content {
  color: var(--paragraph-color);
  text-indent: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  line-height: 1.8;
  hyphens: auto;
}

.category {
  background: var(--section-background);
  margin-top: 5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.category .container .title {
  margin-bottom: 1rem;
  color: var(--h1-color);
  text-align: center;
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
}

.category .container p {
  margin-bottom: 4rem;
  color: var(--paragraph-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.category .container .card-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.category .container .card-grid .card {
  padding: 3rem;
  border-radius: 3px;
  background-color: var(--background-color);
}

.category .container .card-grid .card .title {
  margin-bottom: 2rem;
  color: var(--h1-color);
  font-size: 3rem;
  line-height: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.category .container .card-grid .card .list {
  text-align: center;
}

.category .container .card-grid .card .list .item {
  color: var(--paragraph-color);
  font-size: 1.6rem;
  line-height: 1.5;
}

.info {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.info .container {
  display: flex;
  justify-content: space-between;
}

.info .container .personality {
  width: 65%;
}

.info .container .personality .title {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info .container .personality .reason {
  color: var(--paragraph-color);
  text-indent: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.8;
  hyphens: auto;
}

.info .container .contact {
  width: 25%;
}

.info .container .personality .title,
.info .container .contact .title {
  margin-bottom: 1.5rem;
  color: var(--h1-color);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px var(--highlight-color);
}

.info .container .contact .a-col {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.info .container .contact .a-col .link {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-weight: 400;
}

a {
  color: var(--paragraph-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #author {
    padding-left: 4rem;
  }

  .introduce .container {
    display: flex;
    flex-direction: column;
  }

  .introduce .container .image {
    width: auto;
    flex: 1 1 auto;
    margin-left: 0;
  }

  .introduce .container .image img {
    border-radius: 8px;
  }

  .introduce .container .description .title {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: 700;
  }

  .introduce .container .description .content {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .category {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .category .container .title {
    font-size: 2.5rem;
  }

  .category .container .card-grid {
    grid-template-columns: 1fr;
  }

  .category .container .card-grid .card {
    padding: 1.5rem;
  }

  .category .container .card-grid .card .title {
    font-size: 2.3rem;
  }

  .info {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .info .container {
    flex-direction: column;
  }

  .info .container .personality .title {
    flex-direction: column;
  }

  .info .container .personality .title,
  .info .container .contact .title {
    font-size: 2rem;
  }

  #title-right {
    margin-top: 0.5rem;
    margin-left: 3rem;
  }

  .info .container .personality .reason {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .info .container .personality,
  .info .container .contact {
    width: 100%;
  }

  .info .container .contact {
    text-align: center;
    margin-top: 2rem;
  }

  .info .container .contact .a-col {
    margin-left: 0rem;
  }
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.category .container .title.scrolled,
.category .container p.scrolled {
  animation: fadeInUp;
  animation-duration: 1s;
}

.category .container .card-grid.scrolled {
  animation: fadeInLeftBig;
  animation-duration: 1s;
}

.info .container .personality.scrolled {
  animation: bounceInLeft;
  animation-duration: 1s;
}

.info .container .contact.scrolled {
  animation: bounceInRight;
  animation-duration: 1s;
}

#github {
  display: flex;
  position: fixed;
  bottom: 4rem;
  z-index: 9999;
}

#github .message {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--message-color);
}

#github .message a {
  color: var(--black-color);
}

#github:hover .message {
  display: flex;
}

#github .icon {
  background: var(--tertiary-color);
  border-radius: 0 50% 50% 0;
}

#github ion-icon {
  display: flex;
  margin: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.8;
}
