html {
  font-size: 22px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, Arial;
  background-image: radial-gradient(circle farthest-corner at 92.3% 71.5%, rgba(83, 138, 214, 1) 0%, rgba(134, 231, 214, 1) 90%);
}

.container {
  perspective: 1000px;
}

.card-container {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}

.cover,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
}

.cover {
  background-image: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 14.7%, rgba(89, 97, 223, 1) 88.7%);
  transform: rotateY(0deg);
}

.card-container:hover .cover {
  transform: rotateY(180deg);
}

.back {
  background-image: linear-gradient(64.3deg, rgba(254, 122, 152, 0.81) 17.7%, rgba(255, 206, 134, 1) 64.7%, rgba(172, 253, 163, 0.64) 112.1%);
  transform: rotateY(-180deg);
}

.card-container:hover .back {
  transform: rotateY(0deg);
}
